.dashboardView {
	position: relative;
	margin: auto;
	width: 60%;
}

.dashboardView ul {
	list-style-type: none;
}

.confirmed, .confirmedPassenger {
	margin-bottom: 5px;
 	background-color: #BFB;
 	}
 		 
.confirmed:hover, .confirmedPassenger:hover {
 	background-color: #AEA;		 	

 }
.notConfirmed, .prospective {
	margin-bottom: 5px;
	background-color: #FFB;
 }		 
.notConfirmed:hover, .prospective:hover {
	background-color: #EEA;
}
.singleRoute {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid black;
}
.confirmedPassenger, .prospective {
	height: 120px;
	padding: 8px;
}
.routeRender {
	padding: 10px;
	width: 90%;
	margin: 10px 0px;
}
.driverInfo {
	margin-top: 10px;
	padding: 10px;
	border: 2px solid #9D9;
	height: 50px;

}
.driverInfo p {
	font-size: 17pt;
	float: left;
	display: inline-block;
	padding: 0 10px;
	line-height: 50px;
}
.driverInfo img  {
	float: right;
	height: 50px;
	width: auto;
}

