* {
	margin: 0px;
	padding: 0px;
}

html { 
  background: url(https://static.pexels.com/photos/21014/pexels-photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	padding: 20px;
	text-align: center;
}

.logo {
	background: none;
}

.logo h1 {
	font-family: sans-serif;
	font-size: 400%;
}

.menuBar {
	height: 37px;
	width: 100%;
	background-color: #444;
}

.menuBar ul {
	padding-left: 25px;
	list-style-type: none;
}

.menuBar ul li {
	display: inline-block;
	text-align: center;
}

.menuBar ul li a {
	font-size: 15pt;
	display: block;
	color: #BBB;
	border: 1px solid #222;
	width: 120px;
	height: 35px;
	text-decoration: none;
	line-height: 35px;
}

.menuBar ul li a:hover {
	background-color: #4F4F4F;
}
