* {
	margin: 0px;
	padding: 0px;

}
h1 {
	padding: 20px;
}

.logo {
	background: #DDD;
}

.logo h1 {
	font-family: sans-serif;
}

.menuBar {
	height: 37px;
	width: 100%;
	background-color: #444;
}

.menuBar ul {
	padding-left: 25px;
	list-style-type: none;
}

.menuBar ul li {
	display: inline-block;
	text-align: center;
}

.menuBar ul li a {
	font-size: 15pt;
	display: block;
	color: #BBB;
	border: 1px solid #222;
	width: 120px;
	height: 35px;
	text-decoration: none;
	line-height: 35px;
}
.menuBar ul li a:hover {
	background-color: #4F4F4F;
}

