#driverInfo {
	border: 1px solid black;
	position: relative;
	padding: 20px;
	width: 50%;
	background-color: #EE9;
	margin: 10px auto;
	height: 200px;
}

#driverInfo p {
	font-size: 17pt;
	font-weight: bold;
}
#driverInfo:hover {
	background-color: #FF9;
}

#driverInfo img {
	border: 1px solid black;
	display: inline;
	float: left;
	height: 200px;
}

#driverInfo .content {
	height: 120px;
	float:right;
	margin: 30px 120px;
}
