<div id = 'driverInfo' ng-click="selectDriverRoute(route.driverRoute._id)" ng-repeat = 'route in driverRoutes track by $index'>
  <img src="{{route.driver.picture}}">
  <div class= 'content'>
	  <p>{{route.driver.name}}</p>
	  <p>Seats: {{route.driverRoute.seats}}</p>
	  <p>Fee: ${{route.driverRoute.fee}}</p>
	  <p>{{route.driverRoute.startLabel}}</p>
	  <p>{{route.driverRoute.endLabel}}</p>
    <div map-lazy-load="https://maps.google.com/maps/api/js" 
    map-lazy-load-params="{{googleMapsUrl}}">
      <ng-map center="{{route.driverRoute.start}}" zoom="14">
        <marker position="{{route.driverRoute.start}}" label="S"></marker>
          <marker position="{{route.driverRoute.end}}" label="E"></marker>
    </ng-map>
    </div>
		<a ng-click="selectDriverRoute(route.driverRoute._id)">Select Route</a>
  </div>
</div>