
<div id = 'driverInfo'  ng-repeat = 'route in driverRoutes track by $index'>
	<div ng-click="selectDriverRoute(route.driverRoute._id)">
	  <img src="{{route.driver.picture}}">
	  <div class= 'content'>
		  <p>{{route.driver.name}}</p>
		  <p>Seats: {{route.driverRoute.seats}}</p>
		  <p>Fee: ${{route.driverRoute.fee}}</p>
		  <p>{{route.driverRoute.startLabel}}</p>
		  <p>{{route.driverRoute.endLabel}}</p>
	    <div map-lazy-load="https://maps.google.com/maps/api/js"
	    map-lazy-load-params="{{googleMapsUrl}}">
	      <ng-map center="{{route.driverRoute.start}}" zoom="14"></ng-map>
	    </div>
    </div>
		<a ng-click="selectDriverRoute(route.driverRoute._id)">Select Route</a>
  </div>
</div>