

<div class = 'routeForm'>
	<form>
		<h1>Set up your route here</h1>
		<span>Start Address<input id = 'startAddress' type="text"></span>
		<span>End Address<input id = 'endAddress' type="text"></span>
		<span>From Hour<input id = 'fromHour' type="text"></span>
		<span>From Min<input id = 'fromMinutes' type="text"></span>
		<span>To Hour<input id = 'toHour' type="text"></span>
		<span>To Min<input id = 'toMinutes' type="text"></span>
		<span>Monday<input id = 'monday' type = 'checkbox'></span>
		<span>Tuesday<input id = 'tuesday' type = 'checkbox'></span>
		<span>Wednesday<input id = 'wednesday' type = 'checkbox'></span>
		<span>Thursday<input id = 'thursday' type = 'checkbox'></span>
		<span>Friday<input id = 'friday' type = 'checkbox'></span>
		<span>Saturday<input id = 'saturday' type = 'checkbox'></span>
		<span>Sunday<input id = 'sunday' type = 'checkbox'></span>
		<span>I'm a driver<input id = 'isDriver' type="checkbox"></span>
		<span class = 'driver' style="display: none;">Seats<input id = 'seats' type="text"></span>
		<span class = 'driver' style="display: none;">Fee<input id = 'fee' type="text"></span>
		<input id = 'submitRoute' ng-click= "submitRoute()" type="button" value= 'submit'>
	</form>
</div>
