<h1>Hello from route setup!</h1>

<form action="">
	<span>start x<input type="text"></span>
	<span>start y<input type="text"></span>
	<span>end x<input type="text"></span>
	<span>end y<input type="text"></span>
	<span>from hour<input type="text"></span>
	<span>from min<input type="text"></span>
	<span>to hour<input type="text"></span>
	<span>to min<input type="text"></span>
	<span>seats<input type="text"></span>
	<span>fee<input type="text"></span>
	<span>Monday<input type = 'checkbox'></span>
	<span>Tuesday<input type = 'checkbox'></span>
	<span>Wednesday<input type = 'checkbox'></span>
	<span>Thursday<input type = 'checkbox'></span>
	<span>Friday<input type = 'checkbox'></span>
	<span>Saturday<input type = 'checkbox'></span>
	<span>Sunday<input type = 'checkbox'></span>
	<input ng-click= "submitRoute()" type="button" value= 'submit'>
</form>
