<h1>Dashboard View</h1>

<div class = 'dashboardView'>
	<div>
		<h1>{{username}}</h1>
		<p></p>
	</div>
	<div>
		<ul ng-repeat = 'route in routes track by $index'>
			<li>
			<div class = 'routeRender' ng-class = "route.confirmedDriverRoute ? 'confirmed' : 'notConfirmed'">

				<h3>{{route.itinerary.from}}</h3>
				<h3>{{route.itinerary.to}}</h3>
				<h4>{{route.days}}</h4>
				<h3 ng-hide = "route.confirmedDriverRoute">No drivers have accepted the ride yet. </h2>
				<div ng-show = "route.confirmedDriverRoute"class = 'driverInfo'>
					<p>{{route.confirmedDriver.name}}</p>
					<p>{{route.confirmedDriver.phoneNumber}}</p>
					<img ng-src={{route.confirmedDriver.photo}}>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>